<h2> Reservation List </h2>

<ul *ngIf="reservations.length; else noReservation">
    <li *ngFor="let reservation of reservations"> 
        Guest : {{reservation.GuestName}} <br>
        Email : {{reservation.GuestEmail}} <br>
        Room : {{reservation.RoomNumber}} <br>
        Check-in : {{reservation.CheckInDate}} <br>
        Check-out : {{reservation.CheckOutDate}} <br>
        <button (click)="deleteReservation(reservation.id)">Delete</button>
    </li>
</ul>

<ng-template #noReservation> 
    No reservation available!
</ng-template>

